<p id="notice"><%= notice %></p>

<p>
  <strong>Line:</strong>
  <%= @line_station.line_id %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @line_station.integer %>
</p>

<p>
  <strong>Station:</strong>
  <%= @line_station.station_id %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @line_station.integer %>
</p>

<%= link_to 'Edit', edit_line_station_path(@line_station) %> |
<%= link_to 'Back', line_stations_path %>
