<p id="notice"><%= notice %></p>

<p>
  <strong>Line:</strong>
  <%= @line_station_2.line_id %>
</p>

<p>
  <strong>Station:</strong>
  <%= @line_station_2.station_id %>
</p>

<%= link_to 'Edit', edit_line_station_2_path(@line_station_2) %> |
<%= link_to 'Back', line_station_2s_path %>
