Put the minimum number of stops to search
<%=form_for :stations, :method => :get, :id => "searchForm" do |f| %>
    <%= text_field_tag :stops %>
  <p><%= button_to "Search now",{:class=>"savebutton"} %></p>
<%end%>

<br>
<table>
  <thead>
    <tr>
      <th>The following stations are minimum <%= @stops %> stops from East Ham: </th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @statition_detail.each do |key, station| %>
      <th></th>
      <tr>
        <td><%= station %><% if @statition_detail.size == 0 %>(no stations are available)<% end %> </td>
      </tr>
    <% end %>
    <% if @statition_detail.size == 0 %>
      <tr>
        <td>(no stations are available)</td>
      </tr>
    <% end %> 
  </tbody>
</table>
