<p id="notice"><%= notice %></p>

<p>
  <strong>Line:</strong>
  <%= @line_station_news.line_id %>
</p>

<p>
  <strong>Station:</strong>
  <%= @line_station_news.station_id %>
</p>

<%= link_to 'Edit', edit_line_station_news_path(@line_station_news) %> |
<%= link_to 'Back', line_station_news_path %>
